@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #15213b;
  color: #fff;
}

.title-main {
  @apply font-bold lg:text-3xl text-lg  tracking-tight text-white;
}

.title-sub {
  @apply font-light lg:text-2xl text-base italic text-white mt-1;
}

.title-location {
  @apply sm:font-bold lg:text-3xl sm:text-lg font-light text-sm italic  sm:not-italic text-right text-white;
}

.button {
  @apply border-t-2 basis-1/2 border-[#F6A709] text-[#F6A709] font-medium px-4 py-2 text-center hover:bg-[#F6A709] hover:text-white transition duration-300;
}

.card {
  transform: translateY(0); /* Add this */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Base shadow */
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
  transition: all 0.4s ease;
}

/* Default visibility: hide both (optional) */
.desktop-only {
  display: none;
}

.mobile-only {
  display: none;
}

/* Show on desktop (e.g., tablets and up, min-width 768px) */
@media (min-width: 768px) {
  .desktop-only {
    display: block; /* or flex, inline-block, etc. */
  }
}

/* Show on mobile (max-width 767px) */
@media (max-width: 767px) {
  .mobile-only {
    display: block; /* or flex, inline-block, etc. */
  }
}

@keyframes falling {
  0% {
    top: -10%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 110%;
    opacity: 0;
  }
}

.falling-circle {
  top: -10%;
  width: 16px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  filter: blur(8px);
  position: absolute;
  animation: falling 6s linear infinite;
}
